.git
.github
.phpunit.cache
bootstrap/cache/*.php
node_modules
public/build
public/hot
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
vendor
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
coverage
